pipeline/ReadFolderCount.json
{
	"name": "ReadFolderCount",
	"properties": {
		"activities": [
			{
				"name": "ListFolders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ListFilesInFolder",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": "@pipeline().globalParameters.GP_FileSystem",
							"Directory": "@concat(pipeline().globalParameters.GP_InputFilePath,'2021-03-21')",
							"FIleName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterOnlyFileTypes",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFolders').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FoldersOnly",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ListFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFolders').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'Folder')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IterateFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FoldersOnly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFolders').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ListFilesInFolder",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": "@pipeline().globalParameters.GP_FileSystem",
										"Directory": {
											"value": "@concat(concat(pipeline().globalParameters.GP_InputFilePath,'2021-03-21/'),item().name)",
											"type": "Expression"
										},
										"FIleName": "*"
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}